.input {
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media only screen and (max-width:990px) {
    .input {
        width: 270px;
    }
}

.search {
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
}

.search:hover {
    transition: 0.5s;
    background-color: rgb(190, 190, 190);
}

.border {
    border-radius: 10px;
    border: 1px solid black;
}

.dropdown {
    position: relative;
}

.dropdownmenu {
    position: absolute;
    display: none;
    left: 0;
    background-color: white;
    border-radius: 10px;
}

.dropdown:hover .dropdownmenu {
    display: block;
}

.hover {
    display: flex;
    flex-flow: column wrap;
    padding: 10px 40px;
    border-radius: 10px;
}

.hover:hover {
    transition: 0.2s;
    background-color: rgba(145, 145, 145, 0.274);
}

.link {
    font-size: 20px;
    color: black;
    align-self: center;
}

.github:hover {
    color: blueviolet;
}

.telegram:hover {
    color: rgb(0, 153, 255);
}
.back{
    background-color: rgba(0, 15, 99, 0.425);
}